{% extends "base.html" %}

{% block jumbotron %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron jumbotron-fon2">
  <div class="container text-center">
    <h4 class="display-1">404</h4>
    <p class="h1">Page not found...</p>
    <p class="display-1">
        <i class="fa fa-times" aria-hidden="true"></i>
        <i class="fa fa-times" aria-hidden="true"></i>
        <i class="fa fa-times" aria-hidden="true"></i>
    </p>    
  </div>
</div>
{% endblock %}

{% block content %}
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-12 text-center">
        <p><a class="btn btn-secondary btn-lg" href="/" role="button">To the main &raquo;</a></p>        
      </div>      
    </div>
    <!--<hr>-->
{% endblock %}